@font-face {
    font-family: 'coolvetica';
    font-style: normal;
    src: url(FONTS/FONT/coolvetica\ condensed\ rg.otf)
}
@font-face {
    font-family: 'sfpro';
    src: url(FONTS/FONT/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: 'hdcolton';
    src: url(FONTS/FONT/HDColton-CompLight.otf);
}

@font-face {
    font-family: 'helvetica';
    src: url(FONTS/FONT/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: 'brothersignature';
    src: url(FONTS/FONT/BrotherSignature-7BWnK.otf);
}

@font-face {
    font-family: 'EuropaBold';
    src: url(FONTS/FONT/EuropaGroteskSH-Bol.otf);
}

@font-face {
    font-family: 'EuropaRegular';
    src: url(FONTS/FONT/EuropaGroteskSH-Reg.otf);
}


@media (max-width: 768px) {

    html, body {
    overflow-x: hidden;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}
    header {
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    header p, .name-holder {
        display: inline-block;
        left: 0;
        display: inline-block;
        font-size: 20px;
        display: none;
    }
     
    .navbar {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    .navbar a {
        display: flex;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        margin: 7px;
    }

    .cta-button {
        display: block;
        text-align: center;
        margin: 0px;
        left: 0;
    }
    
    .container {
        margin-top: 0;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero h1{
        font-size: 30px;
    }

    .hero h2{
        font-size: 50px;
    }

    .hero h5{
        font-size: 18px;
    }

    .hero-buttons a {
        padding: 8px 16px;
        font-size: 12px;
    }

    .vidbg video {
        opacity: 0%;
    }

    .vidbgfr {
       position: absolute;
       width: 200%;
       height: 700px;        /* set to whatever height you want this hero section to be */
       overflow: hidden;
       background: #000;
       opacity: 15%;
    }

    .hero-image img {
        width: 60%;
        height: auto;
    }
    
    .styles-container {
        margin: 0;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    
    .vids-title {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 2;
        padding-bottom: 950px;
}

    .vids-title p {
        font-family: 'coolvetica';
        font-size: 28px;
        text-transform: uppercase;
        color: #fff;
        margin: 0;
}

    .vidscontainer {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto); 
        gap: 40px; 
        max-width: 2000px;
        padding: 40px;
    }
    
    .titles {
        display: none;
    }

    .overlaytext h1{
        font-size: 10px;
    }

    .first,
    .second,
    .third,
    .fourth {
        width: 100%; 
        max-width: 100%;
        border-radius: 10px; 
    }

    .promotional-longformwork h1{
        font-size: 30px;
    }

    .promotional {
        margin-bottom: 0px;
    }

    .promotional h1, h3 {
        font-size: 30px;
    }

    .myanimation {
        border-radius: 0px;
        width: 100%;
    }
    
    .aboutme-container {
        background-size: cover; 
        background-position: center; 
        flex-direction: column;
        text-align: center;
        padding: 50px 20px; 
    }

    .abtimg img {
        width: 90%; 
        max-width: 300px; 
        margin: 0 auto; 
    }

    .abtme-text {
        padding: 20px; 
        font-size: 10px; 
        line-height: 28px;
    }

    .appsimages-container p{
        text-transform: uppercase;
        font-size: 50px;
        font-family: 'hdcolton';
        color: #fff;
        text-align: center;
        justify-content: center;
    }

    .appsimages {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 15px; 
    }
    
    .appsimages img {
        min-width: 20px; 
        min-height: 20px; 
        object-fit: contain; 
        display: flex; 
    }
    
    .ae {
        width: 6%;
        margin-left: 0;
        margin-right: -5px;
    }

    .pr {
        width: 3.25%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .me {
        width: 3.2%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .davinci {
        width: 3.8%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .blender {
        width: 4%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .au {
        width: 3.2%;
        margin-left: 0;
        margin-right: -5px;
    }
    
    .bcc {
        width: 5%;
        margin-left: 0;
        margin-right: -5px;
    }
    
    .sap {
        width: 5%;
        margin-left: -5px;
        margin-right: -10px;
    }

    .cta-con {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    .cta-button3 {
        width: 80%; 
        font-size: 16px; 
        padding: 12px 20px;
    }

    .footer {
        text-align: center;
    }

    .footer div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
